/*

Template: Cupid Love Dating HTML5 Template
Author: potenzaglobalsolutions.com
Version: 1.0  
Design and Developed by: potenzaglobalsolutions.com

NOTE: This is color stylesheet of Color Scheme.

*/

/*************************
		General
*************************/

/** selection **/
*::-moz-selection {
	background: #f5ca00;
	color: #fff;
	text-shadow: none;
}

::-moz-selection {
	background: #f5ca00;
	color: #fff;
	text-shadow: none;
}

::selection {
	background: #f5ca00;
	color: #fff;
	text-shadow: none;
}

/*.button*/
.button.default,
.button.orange,
.button.yellow {
	background-color: #43ace0;
}

/*Button Border*/
.button.default {
	border-color: #43ace0;
}

/*************************
	 background color
*************************/
#preloader,
.yellow-bg,
.orange-bg,
.button.btn-colored,
.btn-circle,
.btn-circle.completed,
.radio input[type="radio"] + label::after,
.checkbox input[type="checkbox"]:checked + label::after,
#ex1Slider1 .slider-track-low, #ex1Slider1 .slider-track-high,
#ex1Slider2 .slider-selection,
.tooltip-inner,
.stepwizard-step::before,
.tab.tab-icon .nav-tabs li.active a, .tab.tab-icon .nav-tabs li a:hover,
.tab.tab-bg li.active a, .tab.tab-bg .nav-tabs li a:hover,
.button.btn-dark:hover,
.banner-form h4,
.play-btn,
.button.white-bg:hover,
#main-slider .left.carousel-control .glyph-icon.flaticon-hearts:hover,
#main-slider .right.carousel-control .glyph-icon.flaticon-hearts:hover,
.dark-bg .owl-carousel .owl-nav i,
.text-white .owl-carousel .owl-nav i,
.button.btn-outline:hover,
.section-title h1.title:before,
.section-title h2.title:before,
.section-title h3.title:before,
.section-title h4.title:before,
.section-title h5.title:before,
.section-title h6.title:before,
.timeline .timeline-year span,
.timeline .timeline-body .title:before,
.top-info.fill,
.tab.tab-border li.active a,
.tab.tab-border .nav-tabs li a:hover,
.team-block .member-info > .trigger:before,
.member-info .team-description,
.testimonial.orange,
.owl-carousel.owl-theme .owl-dots .owl-dot.active span,
.owl-carousel.owl-theme .owl-dots .owl-dot:hover span,
.footer .input-group-btn button,
.footer .input-group-btn button:hover,
.accordion.boxed .acd-group.acd-active .acd-heading:before,
.accordion.border .acd-active .acd-heading,
.owl-carousel .owl-nav i:hover,
.text-white .counter.left_pos:after,
.text-white .counter.left_pos:before,
.data-table .table thead,
.post .post-date,
.progress-bar,
.tab .nav-tabs li.active a,
.tab .nav-tabs li a:hover,
.top_dark .nav-tabs li.active a:hover > a:focus,
.team .team-social-icon,
.team.shadow .team-description,
.team.boxed:hover .team-description,
mark,
.tab.tab-bor .nav-tabs li a:before,
.tab .nav-tabs li a:hover,
.tab.tab-light .nav-tabs li a:before,
.tab.tab-vertical .nav-tabs li a::before,
.hermes.tparrows,
.dark-bg .owl-carousel.owl-theme .owl-dots .owl-dot.active span,
.text-white .owl-carousel.owl-theme .owl-dots .owl-dot.active span,
#header.dark-fancy .mega-menu > section.menu-list-items,
.author-info:before,
.service .service-block h4:before,
.address-block.fill .glyph-icon,
.sidebar-widget .widget-title:before,
.sidebar-widget .widget-ul li .number,
.sidebar-widget .tags li a,
.pagination > li.active > a:hover,
.pagination > li.active > a,
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover,
.comments-1,
blockquote::before,
#header.fancy .topbar,
#header.dark .topbar,
.hermes .tp-arr-titleholder,
.testimonial.yellow,
#ajaxloader,
.tab.tab-border .nav-tabs li.active a,
.tab.tab-border .nav-tabs .nav-tabs li a:hover, 
.banner-form .bootstrap-select.btn-group .dropdown-menu li.selected a {
	background: #43ace0;
}


.tab.tab-bor .nav-tabs li.active a,
.tab.tab-bor .nav-tabs li a:hover,
.tab.tab-light .nav-tabs li.active a,
.tab.tab-light .nav-tabs li a:hover {
	background: none;
}

/*************************
	 color
*************************/
.feature-box i:before,
.title2 > label,
.button.btn-outline,
#header.fancy .mega-menu .menu-links > li > a:hover,
.accordion .acd-heading::before,
.button.btn-dark,
.button.btn-colored:hover,
.accordion.icon .acd-des::before,
.banner h1 span,
.dropdown a i,
.owl-carousel.owl-theme .owl-dots .owl-dot:hover span:before,
.dark-bg .testimonial.bottom_pos .author-info,
.dark-bg .testimonial.bottom_pos .author-info span,
.mega-menu .menu-links > li > a:before,
.mega-menu .menu-links > li.active > a:before,
#main-slider .slider-content span,
.text-white .timeline .timeline-body .title,
#header.clean .mega-menu .menu-links > li.active > a,
#header.clean .topbar-left li i,
#header.clean .topbar-right li i,
ul li:after,
a:focus,
a:hover,
a,
button,
input,
.footer .footer-usefull ul li a:hover,
.footer-widget ul li a:hover,
.mega-menu .menu-links > li.active .drop-down-multilevel li.active a,
.mega-menu .menu-links > li.active .drop-down-multilevel a:hover,
.mega-menu .menu-links > li:hover,
.mega-menu .drop-down a:hover,
.mega-menu .drop-down-tab-bar a:hover,
.mega-menu .drop-down-multilevel li:hover > a,
.mega-menu .drop-down a:hover i,
.mega-menu .drop-down-tab-bar a:hover i,
.mega-menu .drop-down-multilevel li:hover > a i.fa,
.feature-box.text label,
.topbar-left li i,
.topbar-right li i,
.mega-menu .menu-links > li.active a,
.mega-menu .menu-links > li > a:hover,
.text-orange,
.footer-address li i,
.footer .recent-post .media-body span .fa,
.footer-link ul li a:hover,
ul.page-breadcrumb li span,
.mega-menu .menu-links > li.active .drop-down li.active a,
.mega-menu .menu-links > li.active .drop-down li.active a i,
.mega-menu .menu-links > li.active .drop-down a:hover,
.action-box.action-icon i,
ul.page-breadcrumb li a:hover,
.owl-carousel .owl-nav i,
.button.link i,
.text-white .about .about-details .title,
.text-white .button.link,
.button.link:hover,
.counter.left_pos i,
.text-white .counter.left_pos:after,
.text-white .counter.left_pos:before,
.counter.border i,
.counter.left_icn i,
.data-table .table-2 .table thead,
ul.list li a:hover,
.list li i,
.post .post-meta a .fa,
.post .post-meta a:hover,
.team .team-description span,
.team .team-description span,
.team.left_pos .contact-info i:before,
.team.shadow .team-social-icon a,
.team.boxed .social-icons.border li a,
.team.boxed .team-description span,
.tab .nav-tabs li.active a:before,
.tab.tab-bor .nav-tabs li.active a,
.tab.tab-bor .nav-tabs li a:hover,
.tab.tab-light .nav-tabs li.active a,
.tab.tab-vertical .nav-tabs li.active a,
.tab.tab-vertical .nav-tabs li a:hover,
.tab.tab-vertical .nav-tabs li.active a:hover > a:focus,
.tab .tab-content .title,
#header.fancy .mega-menu .menu-links > li.active > a,
#header.dark-fancy .topbar-right li i,
.isotope-filters button.active,
.isotope-filters button:hover,
.text-white .testimonial.clean .author-info,
.address-block .glyph-icon,
.testimonial-info:before,
.author-info span,
.service .sidebar ul li a:hover,
.service .sidebar ul li a.active,
.section-title .pos,
.title .pos,
.sidebar-widget .widget-search i,
.sidebar-widget .recent-post .media-body span .fa,
.sidebar-widget .widget-ul li a:hover,
.sidebar-widget .recent-post .media-body > a:hover,
.mega-menu .menu-links > li.active .drop-down-multilevel li.active i,
.mega-menu .menu-links > li.active .drop-down-multilevel li.active .drop-down-multilevel li.active a,
.mega-menu .menu-links > li.active .drop-down-multilevel li.active .drop-down-multilevel li a:hover,
.comment-box .section-title label,
.comment-list .comment-metadata .fa,
.text-yellow, 
.story-link > a:hover {
	color: #43ace0;
}


/*************************
	 border color
*************************/
.feature-box.left_bor.small,
.button.btn-colored,
.button.btn-colored:hover,
.button.btn-outline,
.button.btn-outline:hover,
.feature-box.left_bor.ex-small,
.timeline .timeline-year:before,
.main-form .form-group .form-control:focus,
.banner-form .form-inner,
#main-slider .left.carousel-control .glyph-icon.flaticon-hearts:hover,
#main-slider .right.carousel-control .glyph-icon.flaticon-hearts:hover,
.team-block .member-info > .trigger,
.member-info .team-social-icon li a,
.mega-menu .drop-down-multilevel,
.mega-menu .drop-down,
.mega-menu .drop-down-tab-bar,
.button.orange,
.mega-menu .menu-links > li > a:hover,
.mega-menu .menu-links > li.active > a,
.footer .input-group.divcenter.input-group .form-control:focus,
.footer .input-group-btn button,
.footer .input-group-btn button:hover,
.accordion.border .acd-active .acd-heading,
.owl-carousel .owl-nav i,
.counter.border i,
.data-table .table-2 .table thead tr th,
.team,
.team.shadow .social-icons.border li a,
.team.shadow .team-social-icon a,
.team.boxed .social-icons.border li a,
.tab .nav-tabs li.active a,
.tab .nav-tabs li a:hover,
.top_dark .nav-tabs li.active a:hover > a:focus,
.testimonial-avatar img,
.address-block .glyph-icon,
form .form-group .form-control:focus,
.custom-info,
.sidebar-widget .widget-search input:focus,
.sidebar-widget .tags li a:hover,
.pagination > li.active > a:hover,
.pagination > li.active > a,
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover,
blockquote,
blockquote::before,
.comment-list .comments-photo img,
.button.yellow,
.service .sidebar ul li a:hover,
.service .sidebar ul li a.active {
	border-color: #43ace0;
}